{% extends 'empresa2/base.html' %}
{% load static %}

{% block content %}

<html>
<body>
    <div style="margin: 20px 0 ; text-align:center">
    <p><b><h2> Para ingresar información de empleados </h2></b></p>
<form>
    <a href="http://127.0.0.1:8000/empresa2/formulario/">
        <input type="button" value="click here">
    </a>
</form>
<p><b><h2> Para ingresar información de gerencia: </h2></b></p>
<form>
    <a href="http://127.0.0.1:8000/empresa2/formulario1/">
        <input type="button" value="click here">
    </a>
</form>
<p><b><h2> Para ingresar información de un producto: </h2></b></p>
<form>
    <a href="http://127.0.0.1:8000/empresa2/formulario2/">
        <input type="button" value="click here">
    </a>
</form>
<p><b><h2> Para buscar información de un producto: </h2></b></p>
<form>
    <a href="http://127.0.0.1:8000/empresa2/search/">
        <input type="button" value="click here">
    </a>
</form>
</body>
</html>    

{% endblock %}
        